#blog {
  padding: 100px 15px;
  background: #f9f8fc;
}

#blog .title {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#blog .title h1 {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #16171b;
  z-index: 1;
  letter-spacing: 4px;
}

#blog .title .square{
  background: #ffeded;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 23px;
}

#blog .blog-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 588px;
  grid-gap: 15px;
  overflow: hidden;
}

#blog .blog-container .post {
  position: relative;
  transition: all .4s ease-in-out;
  cursor: pointer;
  height: 100%;
  overflow: hidden;
}

#blog .blog-container .post .post-img {
  height: 100%;
  width: 100%;
  background-position: center center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
  background-color: #f2f2f2!important;
}

#blog .blog-container .post .details {
  background: white;
  padding: 35px;
  position: absolute;
  top: 100%;
  width: 100%;
  transform: translate3d(0, -200px, 0);
  transition: all .4s ease-in-out;
  cursor: pointer;
}

#blog .blog-container .post .details h4 {
  font-size: 1.1rem;
  color: #13171a;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 1.8rem;

}

#blog .blog-container .post .details p {
  font-size: 1rem;
  color: #919191;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 1.8rem;
  line-height: 1.5;
}

#blog .blog-container .post .more {
  position: absolute;
  z-index: 3;
  width: 100%;
  bottom: 0;
  background: white;
  padding: 35px;

}

#blog .blog-container .post .more .button {
  font-size: 1.3rem;
  color: #13171a;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5;
  display: inline-block;
  border-bottom: 2px solid #ff5253;
  text-transform: uppercase;
  padding-bottom: 10px;
  transition: all .4s ease-in-out .1s;
  opacity: 0;
  transform: translate3d(0, 40px, 0);
}

/* Hover effect on post */
#blog .blog-container .post:hover .details {
  transform: translate3d(0, -588px, 0);
}

#blog .blog-container .post:hover .more .button {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  color: #ff5253;
}

/* Tablets */
@media only screen and (max-width: 960px) {
  #blog .blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 588px 588px 588px;
    grid-gap: 15px;
    overflow: hidden;
  }
}

/* Phones */
@media only screen and (max-width: 767px) {
  #blog .title h1 {
    font-size: 3rem;

  }

  #blog .blog-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 400px 400px 400px 400px;
    grid-gap: 15px;
    overflow: hidden;
  }
}