#experience  .title{
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

 #experience .title .circle{
  background: #ffeded;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 23px;
}

#experience .title h1 {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #16171b;
  z-index: 1;
  letter-spacing: 4px;
 }

#experience .skills-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  grid-row-gap: 50px;
  padding: 100px 0;
}

#experience .skills-container .skill {
  display: block;
  text-align: center;
}

#experience .skills-container .skill .skill-icon{
  filter: grayscale(100%);
  transition: all .3s ease-in-out;
}

#experience .skills-container .skill:hover .skill-icon{
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.5);
}

#experience .skills-container .skill .skill-icon img {
  width: 120px;
  height: 100px;
  
}

/* Phones */
@media only screen and (max-width: 767px) {
  #experience .skills-container {
    grid-template-columns: 1fr 1fr;
  }
 
 #experience .large-title {
  font-size: 2.5rem;
  left: 0;
}
 
}


