#experience {

}
 #experience .large-title {
   color: #ff5253;
   font-weight: 900;
   font-size: 4.5rem;
   text-align: center;
   text-transform: uppercase;
   position: relative;
   padding-top: 50px;
 }

#experience .skills-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  grid-row-gap: 50px;
  padding: 150px 0;
}

#experience .skills-container .skill {
  display: block;
  text-align: center;
}

#experience .skills-container .skill .skill-icon{
  
}

#experience .skills-container .skill .skill-icon img {
  width: 120px;
  height: 100px;
  
}

/* Phones */
@media only screen and (max-width: 767px) {
  #experience .skills-container {
    grid-template-columns: 1fr;
  }
 
 #experience .large-title {
  font-size: 2.5rem;
  left: 0;
}
 
}


