#testimonials {
  padding: 80px 15px;
  overflow: hidden;
}

#testimonials .title {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#testimonials .title .square{
  background: #ffeded;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 23px;
}

#testimonials .title h1 {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #16171b;
  z-index: 1;
  letter-spacing: 4px;
}

#testimonials .testimonials-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 15px;
  padding: 100px 0;
}

#testimonials .testimonials-container .test{
  background: white;
  padding: 10px;
  -webkit-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
  box-shadow: 0px 40px 74px 24px rgba(0,0,0,0.08);
}

#testimonials .testimonials-container .test .header{
  display: flex;
  padding-bottom: 20px;
}

#testimonials .testimonials-container .test .header .user-img{
  width: 150px;
  height: 150px;
  background-position: center center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;

}

#testimonials .testimonials-container .test .header .user-img img{
  width: 100%;
}

#testimonials .testimonials-container .test .header .info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
}

#testimonials .testimonials-container .test .header .info h4{
  color: #13161d;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

#testimonials .testimonials-container .test .header .info span{
  color: #929294;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 2px;
}

#testimonials .testimonials-container .test  p{
  color: #929294;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.2;
  font-size: 1.4rem;
}




/* Tablets */
@media only screen and (max-width: 960px) {
  #testimonials .testimonials-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 0;
   padding: 100px 0;
  }

}

/* Phones */
@media only screen and (max-width: 767px) {
  #testimonials .testimonials-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 100px 0; 
   }
  
  

  #testimonials .testimonials-container .test-center p {
    font-size: 0.9rem;
  }

  #testimonials .testimonials-container .test-center {
    padding: 7px;
  }

  #testimonials .testimonials-container .test-center .header .info {
    padding-left: 20px;
  }
}